{% extends 'base.html' %}


{% block title %}
     Vegenere  and Caesar cipher
{% endblock %}

{% block title_content %}
     <h1>
          Шифраторы
     </h1>
{% endblock %}

{% block content %}
     <h4>
          Шифр Виженера
     </h4>
     <p>
          Шифр Виженера (фр. Chiffre de Vigenère) — метод полиалфавитного шифрования буквенного текста с использованием ключевого слова.<br>

          Этот метод является простой формой многоалфавитной замены. Шифр Виженера изобретался многократно. Впервые этот метод описал Джовани Баттиста Белласо (итал. Giovan Battista Bellaso) в книге La cifra del. Sig. Giovan Battista Bellasо в 1553 году, однако в XIX веке получил имя Блеза Виженера, французского дипломата.<br>
          Метод прост для понимания и реализации, он является недоступным для простых методов криптоанализа.
          Хотя шифр легко понять и реализовать, на протяжении трех столетий он противостоял всем попыткам его сломать; чем и заработал название le chiffre indéchiffrable (с французского 'неразгаданный шифр'). Многие люди пытались реализовать схемы шифрования, которые по сути являлись шифрами Виженера.
     </p>

     <h4>
          <br>Шифр Цезаря
     </h4>
     <p>
          Шифр Цезаря, также известный как шифр сдвига, код Цезаря или сдвиг Цезаря — один из самых простых и наиболее широко известных методов шифрования.<br>

          Шифр Цезаря — это вид шифра подстановки, в котором каждый символ в открытом тексте заменяется символом, находящимся на некотором постоянном числе позиций левее или правее него в алфавите.<br>
          Например, в шифре со сдвигом вправо на 3, А была бы заменена на Г, Б станет Д, и так далее.<br>
          Шифр назван в честь римского полководца Гая Юлия Цезаря, использовавшего его для секретной переписки со своими генералами.
     </p>
     <br>
          Правила пользования:
     </h3>
    <p>
         Используйте латинскую раскладку. Для создания ключа можно использовать только латинские буквы или цифры!
         Ваше предложение не должно быть короче 10 символов)
    </p>
     <script>
     function sendForm(){
         // получаем значение поля text
         var val = text.value;
         var key_num_wor = key.value;
         var key_required = cript.value;
         if(val.length<10) {
             alert("Недопустимая длина строки");
             event.preventDefault();
         } else if ((key_required == 'encrypt' || key_required == 'decrypt') && (key_num_wor === "")) {
             alert("Введите ключ");
             event.preventDefault();
         } else if ((key_required == 'hack') && ( key_num_wor != "")) {
             alert("Недопустимое действие от ключа");
             event.preventDefault();
         }else
             alert("Операция разрешена");
     }

     </script>

     <form method="POST">
          {{ form.csrf_token() }}
          <label>
               Введите текст:
          </label>
          <br>
          {{ form.text}}
          <br>
          <label>
               Введите ключ: слово или число
          </label>
          {{form.key}}
          {{form.cript }}
          <br>
          <input name="button1" type="submit" value="Отправить" onclick="sendForm()"/><br>
          {% if form.errors %}
          <h2> Введите текст!</h2>
          {{ form.errors }}
          {% endif %}
          <p>
          <h5>{{result}}</h5>
          </p>
     </form>
{% endblock %}

