{% extends 'base.html' %}


{% block title %}
     Main page
{% endblock %}


{% block title_content %}
     <h2>Добро пожаловать на сайт шифратор!</h2>
{% endblock %}


{% block content %}
     <p>
          Здесь вы можете скрыть ваши сокровенные мысли.
     </p>

     <p>
          Для получения необходимого шифра вам необходимо задать фразу, которую
          вы хотите зашифровать и ключ шифрования.
     </p>
      <p>
          Перейдите во вкладку 'Ciphers' чтобы воспользоваться шифраторами.<br>
     </p>
{% endblock %}

